body {
    background-color: rgb(248, 205, 156);
    font-family: Avenir;
  }
  
h1{
    font-family: 'Avenir';
    font-size: 50px;
    font-weight: bold;
    color: white;
    line-height: 100px;
    margin-bottom: -15px;
}

p{
    font-size: 30px;
    font-family: 'Gill Sans';
    font-weight: 100;
    line-height: 30px;
}

.page-wrapper{
    width: 1400px;
    background-color: white;
    margin: auto;
    padding-top: 0;
}

.header-strip {
    background-color: #1d1d1c; 
    color: white; 
    padding-top: 35px;
    padding-bottom: 70px; 
    text-align: center; 
    font-weight: bold; 
    font-family: 'Avenir';
    width: 1400px;
  }

.content {
    padding: 70px;
}

.container{
    width: 100%;
    background: white;
    padding-top: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center-text {
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    background: white;
}

.orange {
    color:rgb(244, 175, 89);
    font-weight: 500;
}

.grey {
    color: grey;
    font-weight: 300;
    font-size: 20px;
}

.circle {
    height: 250px;
    width: 250px;
    background-color: #dbd7d1;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }